db.sqlite3
.idea/FunCols.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
funs/__pycache__/__init__.cpython-38.pyc
funs/__pycache__/__init__.cpython-310.pyc
funs/__pycache__/urls.cpython-38.pyc
funs/__pycache__/urls.cpython-310.pyc
funs/__pycache__/views.cpython-38.pyc
funs/__pycache__/views.cpython-310.pyc
FunCols/__pycache__/__init__.cpython-38.pyc
FunCols/__pycache__/__init__.cpython-310.pyc
FunCols/__pycache__/settings.cpython-38.pyc
FunCols/__pycache__/settings.cpython-310.pyc
FunCols/__pycache__/urls.cpython-38.pyc
FunCols/__pycache__/urls.cpython-310.pyc
FunCols/__pycache__/wsgi.cpython-38.pyc
FunCols/__pycache__/wsgi.cpython-310.pyc
pyproject.toml
.idea/dataSources.xml
funs/migrations/
funs/__pycache__/