db.sqlite3
.idea/FunCols.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
fun1/__pycache__/__init__.cpython-38.pyc
fun1/__pycache__/__init__.cpython-310.pyc
fun1/__pycache__/urls.cpython-38.pyc
fun1/__pycache__/urls.cpython-310.pyc
fun1/__pycache__/views.cpython-38.pyc
fun1/__pycache__/views.cpython-310.pyc
FunCols/__pycache__/__init__.cpython-38.pyc
FunCols/__pycache__/__init__.cpython-310.pyc
FunCols/__pycache__/settings.cpython-38.pyc
FunCols/__pycache__/settings.cpython-310.pyc
FunCols/__pycache__/urls.cpython-38.pyc
FunCols/__pycache__/urls.cpython-310.pyc
FunCols/__pycache__/wsgi.cpython-38.pyc
FunCols/__pycache__/wsgi.cpython-310.pyc
