db.sqlite3
.idea/FunCols.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
funs/__pycache__/__init__.cpython-38.pyc
funs/__pycache__/__init__.cpython-310.pyc
funs/__pycache__/urls.cpython-38.pyc
funs/__pycache__/urls.cpython-310.pyc
funs/__pycache__/views.cpython-38.pyc
funs/__pycache__/views.cpython-310.pyc
FunCols/__pycache__/__init__.cpython-38.pyc
FunCols/__pycache__/__init__.cpython-310.pyc
FunCols/__pycache__/settings.cpython-38.pyc
FunCols/__pycache__/settings.cpython-310.pyc
FunCols/__pycache__/urls.cpython-38.pyc
FunCols/__pycache__/urls.cpython-310.pyc
FunCols/__pycache__/wsgi.cpython-38.pyc
FunCols/__pycache__/wsgi.cpython-310.pyc
pyproject.toml
.idea/dataSources.xml
funs/migrations/
funs/__pycache__/
credentials/databases.txt
FunCols/__pycache__/settings.cpython-312.pyc
credentials/secret_key.txt
credentials/databases.json
.VSCodeCounter/2024-10-12_19-33-55/details.md
.VSCodeCounter/2024-10-12_19-33-55/diff-details.md
.VSCodeCounter/2024-10-12_19-33-55/diff.csv
.VSCodeCounter/2024-10-12_19-33-55/diff.md
.VSCodeCounter/2024-10-12_19-33-55/diff.txt
.VSCodeCounter/2024-10-12_19-33-55/results.csv
.VSCodeCounter/2024-10-12_19-33-55/results.json
.VSCodeCounter/2024-10-12_19-33-55/results.md
.VSCodeCounter/2024-10-12_19-33-55/results.txt
FunCols/__pycache__/settings.cpython-312.pyc
FunCols/__pycache__/urls.cpython-312.pyc
